nav.navbar {
  background-color: red;
  background-image: linear-gradient(to right, #ec002a , #710033);
  color: #fff;
  border-bottom: 0px;
  padding: 13px 0px;
}

.navbar-inverse .navbar-brand {
  color: #ffffff;
}

